In [2]:
import requests
import xmltodict
from datetime import datetime
import pandas as pd
from scipy import stats
import matplotlib.pyplot as plt
import pprint
import ast
import json
from io import StringIO
pp = pprint.PrettyPrinter(indent=2)

In [34]:
passing_base_url = "https://premium.pff.com/api/v1/facet/passing/summary?league=nfl&season=2020&export=true"
passing_df = pd.DataFrame()
for i in range(1, 18):
    url = f"{passing_base_url}&week={i}"
    r = requests.get(url)
    print(r)
    week_stats = pd.read_csv(StringIO(r.text)).dropna(axis=1, how="all")
    week_stats["week"] = i
    passing_df = passing_df.append(week_stats, ignore_index=True)

<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>

In [35]:
passing_df = passing_df.drop(columns="player_game_count").rename(columns={"attempts": "passing_attempts",
                                                             "yards": "passing_yards",
                                                             "touchdowns": "passing_tds",
                                                             "ypa": "passing_ypa"})

In [36]:
receiving_base_url = "https://premium.pff.com/api/v1/facet/receiving/summary?league=nfl&season=2020&export=true"
receiving_df = pd.DataFrame()
for i in range(1, 18):
    url = f"{receiving_base_url}&week={i}"
    r = requests.get(url)
    print(r)
    week_stats = pd.read_csv(StringIO(r.text)).dropna(axis=1, how="all")
    week_stats["week"] = i
    receiving_df = receiving_df.append(week_stats, ignore_index=True)

<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>

In [38]:
receiving_df = receiving_df.drop(columns="player_game_count").rename(columns={"yards": "receiving_yards",
                                                                              "touchdowns": "receiving_touchdowns"})

In [40]:
rushing_base_url = "https://premium.pff.com/api/v1/facet/rushing/summary?league=nfl&season=2020&export=true"
rushing_df = pd.DataFrame()
for i in range(1, 18):
    url = f"{rushing_base_url}&week={i}"
    r = requests.get(url)
    print(r)
    week_stats = pd.read_csv(StringIO(r.text)).dropna(axis=1, how="all")
    week_stats["week"] = i
    rushing_df = rushing_df.append(week_stats, ignore_index=True)

<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>

In [41]:
rushing_df

,player,player_id,position,player_game_count,team_name,attempts,yards,ypa,touchdowns,longest,fumbles,week
0,Derrick Henry,10679,HB,1,TEN,31,116,3.7,0,13,0,1
1,Josh Jacobs,45953,HB,1,LV,25,93,3.7,3,14,0,1
2,Clyde Edwards-Helaire,57279,HB,1,KC,25,138,5.5,1,27,0,1
3,Christian McCaffrey,11763,HB,1,CAR,23,97,4.2,2,15,0,1
4,Ezekiel Elliott,10638,HB,1,DAL,22,96,4.4,1,14,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
2155,Aaron Rodgers,2241,QB,1,GB,0,4,4.0,0,4,0,17
2156,Russell Gage,44771,WR,1,ATL,1,11,11.0,0,11,0,17
2157,LeVante Bellamy,45854,HB,1,DEN,1,0,0.0,0,0,0,17
2158,Henry Ruggs III,61102,WR,1,LV,1,0,0.0,0,0,1,17
2159,Tyler Boyd,10689,WR,1,CIN,1,11,11.0,0,11,0,17

In [42]:
rushing_df = rushing_df.drop(columns="player_game_count").rename(columns={"attempts": "rushing_attempts",
                                                             "yards": "rushing_yards",
                                                             "touchdowns": "rushing_touchdowns",
                                                             "ypa": "rushing_ypa",
                                                             "longest": "rushing_longest"})

In [43]:
kicking_base_url = "https://www.pff.com/api/fantasy/stats/kicking?season=2020"

kicking_df = pd.DataFrame()
for i in range(1, 18):
    url = f"{kicking_base_url}&weeks={i}"
    r = requests.get(url)
    print(r)
    week_stats = pd.read_json(StringIO(r.text))
    week_stats["week"] = i
    kicking_df = kicking_df.append(week_stats, ignore_index=True)

<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>

In [63]:
kicking_df["position"] = "K"
kicking_df = kicking_df.rename(columns={"team": "team_name"})

In [44]:
dst_base_url = "https://www.pff.com/api/fantasy/stats/dst?season=2020"

dst_df = pd.DataFrame()
for i in range(1, 18):
    url = f"{dst_base_url}&weeks={i}"
    r = requests.get(url)
    print(r)
    week_stats = pd.read_json(StringIO(r.text))
    week_stats["week"] = i
    dst_df = dst_df.append(week_stats, ignore_index=True)

,attempt19,complete19,team,total_missed,pct39,player_id,complete50,complete29,eps_made,complete49,...,missed50,missed39,player,eps_attempt,eps_missed,pct50,complete39,team_id,total_made,week
0,0,0,SF,0,0,2607,1,1,2,0,...,0,0,Robbie Gould,2,0,100,0,28,2,1
1,0,0,TEN,3,0,3063,0,1,1,0,...,0,0,Stephen Gostkowski,2,1,0,0,31,1,1
2,0,0,DET,1,100,3471,0,1,2,1,...,1,0,Matt Prater,2,0,0,1,11,3,1
3,0,0,NE,1,0,3794,0,0,3,0,...,0,0,Nick Folk,3,0,0,0,19,0,1
4,0,0,GB,0,100,3809,0,0,5,1,...,0,0,Mason Crosby,5,0,0,1,12,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
508,0,0,CAR,0,0,39235,0,0,1,0,...,0,0,Joey Slye,1,0,0,0,5,0,17
509,0,0,LAC,0,0,39417,0,0,4,0,...,0,0,Michael Badgley,4,0,0,0,27,0,17
510,0,0,PIT,0,0,39675,0,1,1,2,...,0,0,Matthew Wright,1,0,0,0,25,3,17
511,0,0,TEN,0,100,44982,0,0,5,1,...,0,0,Samuel Sloman,5,0,0,1,31,2,17
512,0,0,LA,0,100,57643,0,2,1,0,...,0,0,Matt Gay,1,0,0,1,26,3,17

In [56]:
dst_df["position"] = "DST"
dst_df = dst_df.rename(columns={"team": "player"})
dst_df["team_name"] = dst_df["player"]

In [66]:
merged_df = passing_df.merge(rushing_df,
                             how="outer",
                             on=["player", "player_id", "position","team_name", "week"])
merged_df = merged_df.merge(receiving_df,
                             how="outer",
                             on=["player", "player_id", "position","team_name", "week"])
merged_df = merged_df.merge(kicking_df,
                             how="outer",
                             on=["player", "player_id", "position","team_name", "week"])
merged_df = merged_df.merge(kicking_df,
                             how="outer",
                             on=["player", "player_id", "position","team_name", "week"])
merged_df = merged_df.merge(dst_df,
                             how="outer",
                             on=["player", "position","team_name", "week"])

In [91]:
rushing_df.loc[(rushing_df["position"] == "HB") | (rushing_df["position"] == "FB"), "position"] = "RB"

In [68]:
merged_df

,player,player_id,position,team_name,passing_attempts,completions,completion_percent,passing_yards,passing_ypa,passing_tds,...,interceptions,pa_18_21_games,pa_per_game,points_against,run_yds_per_game,safeties,ya_0_99_games,pa_7_13_games,team_id,pa_0_games
0,Matt Ryan,4317.0,QB,ATL,54.0,37.0,68.5,450.0,8.3,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Josh Allen,46601.0,QB,BUF,46.0,33.0,71.7,312.0,6.8,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Philip Rivers,1725.0,QB,IND,46.0,36.0,78.3,363.0,7.9,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Aaron Rodgers,2241.0,QB,GB,44.0,32.0,72.7,364.0,8.3,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Ryan Tannehill,7014.0,QB,TEN,43.0,29.0,67.4,249.0,5.8,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6179,SF,NaN,DST,SF,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,26.0,26.0,121.0,0.0,0.0,0.0,28.0,0.0
6180,SEA,NaN,DST,SEA,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,23.0,23.0,86.0,0.0,0.0,0.0,29.0,0.0
6181,TB,NaN,DST,TB,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,27.0,27.0,133.0,0.0,0.0,0.0,30.0,0.0
6182,TEN,NaN,DST,TEN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,0.0,38.0,38.0,96.0,0.0,0.0,0.0,31.0,0.0
6183,WAS,NaN,DST,WAS,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,0.0,14.0,14.0,113.0,0.0,0.0,0.0,32.0,0.0

In [67]:
merged_df.to_csv("2020.csv")

In [129]:
merged_df[merged_df["player_id"] == 8698]

,player,player_id,position,team_name,passing_attempts,completions,completion_percent,passing_yards,passing_ypa,passing_touchdowns,interceptions,qb_rating,week,rushing_attempts,rushing_yards,rushing_ypa,rushing_touchdowns,longest,fumbles
140,Jarvis Landry,8698,WR,CLV,1.0,1.0,100.0,37.0,37.0,1.0,0.0,158.3,4,NaN,NaN,NaN,NaN,NaN,NaN
243,Jarvis Landry,8698,WR,CLV,1.0,1.0,100.0,19.0,19.0,0.0,0.0,118.8,7,2.0,4.0,2.0,0.0,5.0,0.0
461,Jarvis Landry,8698,WR,CLV,1.0,1.0,100.0,6.0,6.0,0.0,0.0,91.7,13,NaN,NaN,NaN,NaN,NaN,NaN
505,Jarvis Landry,8698,WR,CLV,1.0,1.0,100.0,12.0,12.0,0.0,0.0,116.7,14,NaN,NaN,NaN,NaN,NaN,NaN
1636,Jarvis Landry,8698,WR,CLV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11,1.0,3.0,3.0,0.0,3.0,0.0

In [134]:
rushing_df[rushing_df["position"] == "CB"]

,player,player_id,position,team_name,rushing_attempts,rushing_yards,rushing_ypa,rushing_touchdowns,longest,fumbles,week
864,Myles Hartsfield,49159,CB,CAR,2,2,1.0,0,2,0,7

In [31]:
dst_base_url = "https://www.pff.com/api/fantasy/stats/dst?season=2020"

dst_df = pd.DataFrame()
for i in range(1, 18):
    url = f"{dst_base_url}&weeks={i}"
    r = requests.get(url)
    print(r)
    week_stats = pd.read_json(StringIO(r.text))
    week_stats["week"] = i
    dst_df = dst_df.append(week_stats, ignore_index=True)

<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>

In [32]:
dst_df

,pa_1_6_games,sacks,ya_200_299_games,kick_yds_per_game,team,ya_300_349_games,kick_yards,pa_21_27_games,ya_100_199_games,pa_28_34_games,...,pa_18_21_games,pa_per_game,points_against,run_yds_per_game,safeties,ya_0_99_games,pa_7_13_games,team_id,pa_0_games,week
0,0,3,0,0,ARZ,0,42,0,0,0,...,1,20,20,123,0,0,0,1,0,1
1,0,3,0,0,ATL,0,0,0,0,0,...,0,38,38,84,0,0,0,2,0,1
2,1,2,0,0,BLT,1,64,0,0,0,...,0,6,6,138,0,0,0,3,0,1
3,0,3,1,0,BUF,0,31,0,0,0,...,0,17,17,52,0,0,0,4,0,1
4,0,0,0,0,CAR,0,109,0,0,1,...,0,34,34,133,0,0,0,5,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
507,0,2,0,0,SF,1,29,1,0,0,...,0,26,26,121,0,0,0,28,0,17
508,0,3,0,0,SEA,0,0,1,0,0,...,0,23,23,86,0,0,0,29,0,17
509,0,1,0,0,TB,0,51,1,0,0,...,0,27,27,133,0,0,0,30,0,17
510,0,4,0,0,TEN,0,16,0,0,0,...,0,38,38,96,0,0,0,31,0,17
511,0,2,1,0,WAS,0,22,0,0,0,...,0,14,14,113,0,0,0,32,0,17

In [19]:
passing_base_url = "https://www.pff.com/api/fantasy/stats/passing?season=2020"

passing_df = pd.DataFrame()
for i in range(1, 18):
    url = f"{passing_base_url}&weeks={i}"
    r = requests.get(url)
    print(r)
    week_stats = pd.read_json(StringIO(r.text))
    week_stats["week"] = i
    passing_df = passing_df.append(week_stats, ignore_index=True)

<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>

In [20]:
passing_df.sort_values(by="rush_tds", ascending=False)

,att,comp,dropbacks,fumbles,games,ints,player,player_id,rush_carries,rush_tds,rush_yds,tds,team,team_id,yds,week
55,47,34,49,1,1,0,Dak Prescott,10769,5,3,18,1,DAL,9,450,2
429,16,9,22,1,1,1,Taysom Hill,12112,10,2,44,0,NO,20,78,12
318,35,27,36,0,1,0,Cam Newton,6153,10,2,16,0,NE,19,274,9
66,38,26,43,0,1,1,Kyler Murray,38334,8,2,67,1,ARZ,1,286,2
519,26,20,29,0,1,1,Tua Tagovailoa,60326,3,2,9,0,MIA,17,145,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
236,0,0,0,0,1,0,Tim Boyle,21956,2,0,-1,0,GB,12,0,7
237,10,6,12,0,1,1,Jarrett Stidham,13725,2,0,3,0,NE,19,64,7
238,1,1,1,0,1,0,Taysom Hill,12112,1,0,6,0,NO,20,0,7
239,39,29,48,0,1,0,Deshaun Watson,11767,7,0,38,2,HST,13,309,7
644,41,26,43,0,1,1,Tom Brady,698,5,0,3,4,TB,30,399,17

In [25]:
rushing_df[rushing_df["player"] == "Aaron Jones"]

,player,player_id,position,player_game_count,team_name,attempts,yards,ypa,touchdowns,longest,fumbles,week
11,Aaron Jones,11937,HB,1,GB,16,66,4.1,1,15,1,1
148,Aaron Jones,11937,HB,1,GB,18,168,9.3,2,75,0,2
283,Aaron Jones,11937,HB,1,GB,16,69,4.3,1,19,0,3
424,Aaron Jones,11937,HB,1,GB,15,71,4.7,0,23,0,4
701,Aaron Jones,11937,HB,1,GB,10,15,1.5,1,7,0,6
1026,Aaron Jones,11937,HB,1,GB,15,58,3.9,0,11,0,9
1152,Aaron Jones,11937,HB,1,GB,13,46,3.5,0,20,1,10
1271,Aaron Jones,11937,HB,1,GB,10,41,4.1,1,15,0,11
1365,Aaron Jones,11937,HB,1,GB,17,90,5.3,0,16,0,12
1506,Aaron Jones,11937,HB,1,GB,15,130,8.7,1,77,0,13
1620,Aaron Jones,11937,HB,1,GB,15,69,4.6,0,11,0,14
1750,Aaron Jones,11937,HB,1,GB,20,145,7.3,1,46,0,15
1919,Aaron Jones,11937,HB,1,GB,10,94,9.4,0,59,0,16
2053,Aaron Jones,11937,HB,1,GB,11,42,3.8,1,10,0,17